.customScroll::-webkit-scrollbar {
    width: 10px;
}

.customScroll::-webkit-scrollbar-track {
    background-color: #3C424E;
    border-radius: 15px;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: #252932;
    border-radius: 15px;
    padding: 8px;
}

#gameFrame {
    margin-top: 10px;
    background-color: #252932;
    border-radius: 10px;
    border: 1px solid #5B6171;
    position: relative;
}